body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-hn784z:hover {
  position: absolute;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  top: 0;
  left: 0;
}
